<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href="/web-server/public/img/weather.png">
    <link rel="stylesheet" href="/css/style.css"> 
 
</head>
<body>
    <div class="main-content">
    {{>header}}

    {{errorMessage}}
   
    </div>
  
   {{>footer}}

</body>
</html>